<%= modal(header: {text: "Service manager for #{@engines_system.label}", icon: 'fa-compass'},
    footer_close: true, large: false) do %>
  <%= up_to_system_control_panel_link(@engines_system) %>
  <p><label>Orphans</label></p>
  <% @service_manager.orphan_service_consumers.each do |orphan_service_consumer| %>
    <%= render 'engines_systems/service_managers/orphan_service_consumer', orphan_service_consumer: orphan_service_consumer %>
  <% end %>
<% end %>
