<%= modal header: {text: "New Subservice on #{@persistent_service_consumer.label} for #{@app.name}", icon: 'fa-compass'},
    footer_close: true do %>
  <%= up_to_app_service_consumer_persistent_subservices_link(@persistent_service_consumer) %>
  <hr>
  <p>Need API route to get list of available subservices on <%= "#{@persistent_service_consumer.label} for #{@app.name}" %>.</p>
<% end %>
