<%= modal footer_close: true, header: {text: "Actions for #{@app.name}", icon: 'fa-crosshairs'} do %>

  <%= up_to_app_control_panel_link(@app) %>

  <% if @app.actionators.empty? %>
    <p><i>None</i></p>
  <% end %>

  <% @app.actionators.values.each do |actionator| %>
    <% browser_save_file_dialog = actionator[:return_type] == 'file' %>
    <%= resource_link :new_app_actionator,
        remote: !browser_save_file_dialog,
        spinner: !browser_save_file_dialog,
        params: { app_id: @app.id,
                  actionator_name: actionator[:name] },
                  text: actionator[:label] || actionator[:name].to_s.humanize %>
  <% end %>



<% end %>
