.engines_system { border: 1px solid #eee; border-radius: 4px; padding: 10px 0px; }
.engines_system .services { border-top: 1px solid #eee; }
.engines_system .engines_system_connecting_message { font-size: 18px; line-height: 1.33333333; color: #ddd; padding: 10px 16px; }
