.pull_right_wide_media {
  text-align: right;
  left: auto;
  right: 0;
  float: right;
}
.pull_right_wide_media ul {
  left: auto;
  right: 0;
  float: right;
}

@media (max-width: 767px) {
  .pull_right_wide_media {
    text-align: left;
    left: 0;
    right: auto;
    float: inherit;
  }
  .pull_right_wide_media ul {
    left: 0;
    right: auto;
    float: inherit;
  }
}
