<%= modal footer_close: true, header: {text: "Actions for #{@service.name}", icon: 'fa-crosshairs'} do %>
  <%= up_to_service_control_panel_link(@service) %>

  <% if @service.actionators.empty? %>
    <p><i>None</i></p>
  <% end %>

  <% @service.actionators.values.each do |actionator| %>
    <% browser_save_file_dialog = actionator[:return_type] == 'file' %>
    <%= resource_link :new_service_actionator,
        remote: !browser_save_file_dialog,
        spinner: !browser_save_file_dialog,
        params: { service_id: @service.id,
                  actionator_name: actionator[:name] },
                  text: actionator[:label] || actionator[:name].to_s.humanize %>
  <% end %>

<% end %>
