<% begin %>
  <% container_processes = @app.core_app.container_processes %>
<% rescue EnginesSystemApiResourceNotFoundError %>
  <% container_processes = nil %>
<% end %>

<%= modal footer_close: true, large: true, header: {text: "Processes for #{@app.name}", icon: 'fa-list-alt'} do %>
  <%= up_to_app_control_panel_link(@app) %>
  <% if container_processes %>
    <table class="table">
      <tr>
        <% container_processes[:'Titles'].each do |column_heading| %>
          <th><%= column_heading %></th>
        <% end %>
      </tr>
      <% container_processes[:'Processes'].each do |process_detail| %>
        <tr>
          <% process_detail.each do |process_detail| %>
            <td><%= process_detail %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    Container not running.
  <% end %>
<% end %>
